/* Catppuccin Mocha palette - Monochromatic Blue RGB */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #7BBDE8;
@define-color lavender  #BDD8E9;
@define-color sapphire  #49769F;
@define-color sky       #6EA2B3;
@define-color teal      #4E8EA2;

@keyframes rainbow-gradient {
    0% {
        border-image: linear-gradient(90deg, #001D39, #0A4174, #49769F, #4E8EA2, #6EA2B3, #7BBDE8, #BDD8E9) 1;
    }
    50% {
        border-image: linear-gradient(270deg, #BDD8E9, #7BBDE8, #6EA2B3, #4E8EA2, #49769F, #0A4174, #001D39) 1;
    }
    100% {
        border-image: linear-gradient(90deg, #001D39, #0A4174, #49769F, #4E8EA2, #6EA2B3, #7BBDE8, #BDD8E9) 1;
    }
}
