/* ---- 💫 https://github.com/0o0-ct/Pixi-Arch-A 💫 ---- */
/* Main Config (wallpaper) */

@import "~/.config/rofi/config.rasi"  

/* ---- Configuration ---- */ 
configuration {
  modi: "drun";
}

window {
  width: 75%;
  height: inherit;
  border: 1px;
  border-radius: 22px;
  border-color: rgba(255, 255, 255, 0.22);
  background-color: rgba(10, 12, 18, 0.38);
  transparency: "real";
}

/* ---- Mainbox ---- */
mainbox {
  children:
    [ "inputbar", "listview"];
  background-color: transparent;
  padding: 24px;
}

entry {
  expand: true;
  placeholder: " 🎞️ Buscar / Elegir Fondo";
  horizontal-align: 0.5;
  horizontal-align: 0.5;
}

/* ---- Listview ---- */
listview {
  columns: 6;
  lines: 2;
  spacing: 20px;
  padding: 10px;
  columns: 6;
  lines: 2;
  flow: horizontal;
  fixed-width: true;
  fixed-height: true;
  cycle: true;
  background-color: transparent;
}

/* ---- Element ---- */
element {
  orientation: vertical;
  padding: 10px;
  spacing: 6px;
  border-radius: 14px;
  margin: 0px;
  background-color: transparent;
}

element selected.normal {
  background-color: rgba(255, 255, 255, 0.18);
  border: 1px;
  border-color: rgba(255, 255, 255, 0.25);
  border-radius: 14px;
}

element-icon {
    text-color:                  inherit;
    size:                        10%;
    margin:                      -30px;
    cursor:                      inherit;
}

element-text {
  vertical-align: 0.5;
  horizontal-align: 0.5;
  padding: 6px;
  margin: 6px;
}