/* ---- 💫 https://github.com/0o0-ct/Pixi-Arch-A 💫 ---- */
/* Rainbow Spectrum */

* {
font-family: "JetBrainsMono Nerd Font";
font-weight: bold;
min-height: 0;
/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
font-size: 97%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  	background-color: rgba(0,0,0,0);
  	transition-property: background-color;
  	transition-duration: .5s;
}

window#waybar.hidden {
  	opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
	padding: 0px;
	border: 0px;
	background-color: transparent;
}

tooltip {
	background: rgba(30, 30, 46, 0.55);
	opacity: 0.8;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}

tooltip label{
	color: #cdd6f4;
}

#taskbar button,
#workspaces button {
  	background-color: rgba(217, 224, 238, 0.55);
  	color: #3A3B3C;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
  	background-color: rgba(235, 160, 172, 0.55);
  	color: #3A3B3C;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover,
#workspaces button:hover {
    background: rgba(235, 111, 146, 0.55);
    color: #f6c177;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-nightlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-nightlight,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-hyprpicker,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	border-radius: 16px;
  	color: #3A3B3C;
  	border: 1px solid #b4befe;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
}

#backlight {
	background-color: rgba(203, 166, 247, 0.55);
}

#battery {
	background-color: rgba(249, 226, 175, 0.55);
}

@keyframes blink {
		to {
			color: #000000;
		}
}

#battery.critical:not(.charging) {
	background-color: rgba(243, 139, 168, 0.55);
	color: #f38ba8;
	animation-name: blink;
	animation-duration: 3.0s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#clock {
	background-color: rgba(166, 227, 161, 0.55);
}

#mpris {
	background-color: rgba(250, 179, 135, 0.55);
	color: black;
}
#custom-keyboard,
#keyboard-state,
#keyboard-state label,
#keyboard-state label.locked,
#cpu {
	background-color: rgba(137, 220, 235, 0.55);
}

#memory {
	background-color: rgba(235, 160, 172, 0.55);
}

#disk {
	background-color: rgba(180, 190, 254, 0.55);
}

#tray {
	background-color: rgba(180, 190, 254, 0.55);
}
#tray > .passive {
		-gtk-icon-effect: dim;
}
#tray > .needs-attention {
		-gtk-icon-effect: highlight;
}

#custom-menu {
	background-color: rgba(245, 194, 231, 0.55);
	/*padding: 1px;*/
	padding-right: 10px;
	border-radius: 16px;
  	color: #3A3B3C;
  	border: 1px solid #b4befe;
}

#custom-power {
	background-color: rgba(243, 139, 168, 0.55);
	padding: 0px 0px 0px 6px;
}

#custom-updater {
	background-color: rgba(230, 237, 123, 0.55);
}

#custom-cava_mviz,
#power-profiles-daemon,
#custom-browser,
#custom-file_manager,
#custom-tty,
#custom-settings {
    background: rgba(15, 20, 30, 0.55);
}

#custom-cycle_wall {
	background-color: rgba(148, 226, 213, 0.55);
}

#custom-swaync,
#custom-weather {
	background-color: rgba(203, 166, 247, 0.55);
}

#custom-reboot,
#wireplumber {
	background-color: rgba(166, 227, 161, 0.55);
}

#wireplumber.muted {
	background-color: rgba(49, 50, 68, 0.55);
	color: #cdd6f4;
}

#custom-lock {
	background-color: rgba(137, 220, 235, 0.55);
}

#custom-quit,
#temperature {
  	background-color: rgba(134, 180, 250, 0.55);
}

#temperature.critical {
  background-color: rgba(239, 68, 68, 0.55);
}

#custom-power_vertical,
#custom-light_dark,
#custom-nightlight,
#custom-hypridle,
#idle_inhibitor {
  	background-color: rgba(134, 180, 250, 0.55);
    border-bottom: 8px solid rgba(0, 0, 0, 0.2);
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
    border-bottom: 8px solid rgba(0, 0, 0, 0.2);
}

#bluetooth {
	background-color: rgba(137, 220, 235, 0.55);
}
#window {
	background-color: rgba(137, 220, 235, 0.55);
}

#custom-hint,
#pulseaudio {
	background-color: rgba(250, 179, 135, 0.55);
}

#pulseaudio.bluetooth {
	background-color: rgba(245, 194, 231, 0.55);
}
#pulseaudio.muted {
	background-color: rgba(49, 50, 68, 0.55);
	color: #cdd6f4;
}

#network {
	background-color: rgba(137, 180, 250, 0.55);
	padding-right: 12px;
}
#network.disconnected,#network.disabled {
	background-color: rgba(49, 50, 68, 0.55);
	color: #cdd6f4;
}

#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}
