/* ---- 💫 https://github.com/0o0-ct/Pixi-Arch-A 💫 ---- */
/* Catppuccin Mocha - Monochromatic Blue Bordered */

* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import "../waybar/style/catppuccin-themes/rgbmocha.css";

window#waybar {
  	transition-property: background-color;
  	transition-duration: 0.5s;
  	background: transparent;
  	border-radius: 2px;
}

window#waybar.hidden {
  	opacity: 0.2;
}

window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

#taskbar button,
#workspaces button {
	color: @overlay1;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover,
#workspaces button:hover {
	border-radius: 10px;
	color: #ffffff;
	background-color: alpha(@surface0, 0.55);
 	padding-left: 2px;
    padding-right: 2px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.persistent {
	color: @surface1;
	border-radius: 10px;
}

#taskbar button.active,
#workspaces button.active {
	color: #ffffff;
	border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

.modules-left, .modules-center, .modules-right {
  background:
    linear-gradient(135deg, rgba(15, 20, 30, 0.55), rgba(10, 15, 26, 0.55)) padding-box,
    linear-gradient(135deg, #001D39, #0A4174, #49769F, #4E8EA2, #6EA2B3, #7BBDE8, #BDD8E9) border-box;
  border: 2px solid transparent;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 16px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 4px 12px rgba(0, 0, 0, 0.3);
}

#backlight, #battery, #bluetooth, #clock, #cpu, #disk, #idle_inhibitor, #keyboard-state, #memory, #mode, #mpris, #network, #pulseaudio, #taskbar, #temperature, #tray, #window, #workspaces, #custom-menu, #custom-power, #custom-weather {
	padding: 4px 6px;
}

#bluetooth, #backlight { color: #7BBDE8; }
#battery { color: #6EA2B3; }
#clock { color: #BDD8E9; }
#cpu { color: #4E8EA2; }
#custom-keyboard, #memory { color: #7BBDE8; }
#disk { color: #49769F; }
#temperature { color: #6EA2B3; }
#custom-menu { color: #BDD8E9; }
#custom-power { color: #7BBDE8; }
#pulseaudio { color: #7BBDE8; }
#window { color: #BDD8E9; }
#network { color: #6EA2B3; }
