/* ---- 💫 https://github.com/0o0-ct/Pixi-Arch-A 💫 ---- */
/* Catppuccin Mocha - Monochromatic Bordered */

* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import "../waybar/style/catppuccin-themes/rgbmocha.css";

window#waybar {
  	transition-property: background-color;
  	transition-duration: 0.5s;
  	background: transparent;
  	border-radius: 2px;
}

window#waybar.hidden {
  	opacity: 0.2;
}

window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

.modules-left,
.modules-center,
.modules-right {
	background: rgba(10, 15, 26, 0.55);
	border: 2px solid transparent;
	border-radius: 12px;
	animation: rainbow-gradient 8s linear infinite;
	padding: 2px 8px;
	margin: 3px;
}

#taskbar button,
#workspaces button {
	color: #cdd6f4;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.3s ease;
}

#taskbar button:hover,
#workspaces button:hover {
	border-radius: 10px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
}

#taskbar button.active,
#workspaces button.active {
	color: #ffffff;
  	border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.28);
}
